@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Electrolize&display=swap');

body {
    background-color: rgb(12, 12, 11);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arapey,Electrolize;
}

h1 {
    font-size: 4rem;
    color: rgb(57, 167, 47);
    margin-bottom: 30px;
}

h2{
    font-size: 4rem;
    color: rgb(204, 150, 32);
    margin-bottom: 30px;

}

h4{
    font-size: 3rem;
    color: antiquewhite;
    margin-bottom: 20px;
}

#userName {
    font-size: 4rem;
}

.container {


    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
}



.listBtn{
font-family: Arapey,Electrolize;
display: inline-block;
font-size: 5rem;
box-shadow: 0 0.3rem 0 rgb(57, 167, 47);
transition: transform 150ms;
transform: scale(1.04);
}

button {
    cursor: pointer;
    
    
}


